*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*:focus {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  min-width: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-weight: normal;
  margin: 0;
}

em,
i,
address {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

button {
  cursor: pointer;
  white-space: nowrap;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

blockquote {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  all: unset;
}

fieldset {
  all: unset;
}
